<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
    <targets>
        <target
                xsi:type="Console"
                name="console"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
                stdErr="true"
                autoFlush="true"
        />
        <target name="file" xsi:type="File"
                fileName="logs/${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
                archiveFileName="logs/archive/${shortdate}.{#}.log"
                archiveAboveSize="10485760"
                maxArchiveFiles="30"
                keepFileOpen="false"/>
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="console"/>
        <logger name="*" minlevel="Info" writeTo="file"/>
        <logger name="Microsoft.*" minlevel="Warn" writeTo="console" final="true"/>
    </rules>
</nlog>
